.tags {
  background: grey;
  padding: 3px;
}
.tagged-entry p, .tagged-entry div {
  display: inline;
  margin-top: 5px;
  text-align: left;
}

.selected {
  border-left: yellow 8px solid;
  padding-left: 4px;
}
